@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    color: white;
}

html{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    z-index: 1000px;
    top: 0;
    width: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.navbar{
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    float: left;
    padding-top: 10px;
    font-size: 1.5rem;
}

.navbar ul{
    list-style: none;
    float: right;
}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    display: block;
    padding: 15px;
}

.home{
    padding: 100px 18%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home__img img{
    max-width: 100%;
    height: auto;
}

.home__text h1{
    margin: 10px 0px 25px;
    line-height: 1;
    font-weight: 500;
    font-size: 3rem;
}

.home__text h5{
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 15px;
}

span{
    color: #E8AB08;
}

.home__text h3{
    color: #E8AB08;
    font-weight: 500;
    font-size: 20px;
}

.home__text p{
    color: #ADA8A7;
    line-height: 28px;
    margin-bottom: 20px;
}

.social a{
    margin-right: 15px;
}

.social i{
    color: #E8AB08;
    font-size: 20px;
}

.social a:hover{
    color: #E8AB08;
}

.about{
    background: #0B0614;
    text-align: justify;
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about h2{
    font-size: 2rem;
    padding-bottom: 20px;
}

.about p{
    font-size: 1.5rem;
}

.titulo{
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

.card__box{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 3rem;
}

.card__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    font-size: 0.8rem;
    width: 70px;
    height: 30px;
    margin: 2rem;
    padding: 20px 10px;
    padding-top: 30px;
    border: 2px solid #fff;
    border-radius: 14px;
}

.card i{
    color:#E8AB08;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.card:hover{
    box-shadow: 10px 10px 15px 1px #000;
    transform: translateY(-0.5rem);
    transition: 0.7s;
}

.formacion{
    background: #0B0614;
    margin-top: 2rem;
    padding-top: 2rem;
}

.container__formacion{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formacion__card{
    width: 300px;
    margin-bottom: 2rem;
}

.img__formacion img{
    width: 250px;
    height: 150px;
}

.inf__formacion p{
    font-size: small;
}

